/* 1. exercice-1 */
.exercice-1 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* 2. exercice-2 */
.exercice-2 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
/* 3. exercice-3 */

.exercice-3 .container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.exercice-3 .element-blue {
  order: 1;
  align-self: flex-end;
}
/* 4. exercice-4 */
.exercice-4 .container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-end
}
.exercice-4 .element-red {
  order: ;
}
.exercice-4 .element-gray {
  order: 2;
}
.exercice-4 .element-pink {
  order: 0;
  align-self: flex-start;
}

/* 5. exercice-5 */

/* 6. exercice-6 */

/* 7. exercice-7 */

/* 8. exercice-8 */

/* 9. exercice-9 */

/* 10. exercice-10 */
